<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310536726569-9tbf4u5g8ch2opo0pr53fl8u2tugaerl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310536726569-9tbf4u5g8ch2opo0pr53fl8u2tugaerl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>310536726569-g19b4s2uftr5bhfmto1lm5m2v4dckv94.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBStAdm_g14TCwoMtXbW8lZCbn1-tq-aR4</string>
	<key>GCM_SENDER_ID</key>
	<string>310536726569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alclean.app</string>
	<key>PROJECT_ID</key>
	<string>app-notification-5e56b</string>
	<key>STORAGE_BUCKET</key>
	<string>app-notification-5e56b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310536726569:ios:fe0dcbd723695400f71438</string>
</dict>
</plist>